@import './var.scss';
@import './reset.scss';
@import './base.scss';
@import './layout.scss';
@import './iconfont.scss';

.hfull {
  height: 100%;
}

.section-notice,
.section-news {
  
}

.section-notice {
  background-color: #fff;
  height: 135px;
}

.notice-item {
  border-left: 1px solid #727577;
  border-color: hsla(0,0%,100%,.06);
}

.section-service {
  background-color: #f5f5f5;
}
.section-title {
  margin: 0;
  font-size: 24px;
  color: #373d41;
  &:after {
    /* content: '';
    display: block;
    margin: 16px auto 0;
    width: 70px;
    height: 2px;
    background-color: $primary-color; */
  }
}

.section-title-sub {
  margin-top: 8px;
  font-size: 16px;
  color: #999;
}

.service-grid {
  width: 100%;
  border:1px solid #f1f1f1;
  background-color: #fff;
  border-radius: 2px;
  padding: 32px 0;
 // height:200px;
  #{&}-header {
    text-align: center;
    p {
      transition: all .15s cubic-bezier(.4,0,.2,1);
      font-size: 20px;
      color: #333;
      margin-top: 8px;
      font-weight: 700;
    }
    .iconfont {
      color:#666;
      font-size: 32px;
    }
  }
  &:hover {
    .service-grid-header {
      p {
        color: $primary-color;
      }
      .iconfont {
        //background-color:#fff;
        //color: $primary-color
      }
    }
    border-color: #eee;
  }
}

.service-list {
  margin-top: 16px;
  text-align: center;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      transition: all .15s cubic-bezier(.4,0,.2,1);
      color: #a9b0b4;
      &:hover {
        color: $primary-color;
      }
    }
    &.split {
      padding: 0 8px;
      color:#dcddde
    }
  }
}

.news-grid {
  width: 100%;
  h2 {
    font-size: 20px;
  }
  /* .news-img {
    display: block;
    width: 100%;
    height:228px;
    border: 1px solid #f2f2f2;
    transition: all .5s ease;
    img {
      display: block;
      width: 100%;
      height: 170px;
      transition: all .5s ease;
    }
    .news-img-wrapper {
      width: 100%;
      height: 170px;
      overflow: hidden;
    }
    p {
      padding: 16px 24px;
      color: #373d41;
    }
    &:hover {
      text-decoration: none;
      //box-shadow: 0 0 8px rgba(0,0,0,.15);
      img {
        transform: scale(1.1);
      }
      p {
        text-decoration: none;
      }
    }
  } */
  
}



.news-grid {
  
}

.notice {
  line-height: 28px;
  padding: 12px 16px;
}
.notice-content {
  display: inline-block;
  margin-left: 8px;
  height: 21px;
  width: 640px;
  li {
    width: 100%;
    a,.time {
      color: #8a6d3b;
    }
  }
}

.index-page {
  min-height: 405px;
}

.news-list-nav {
  //text-align: right;
  border-bottom: 2px solid #e8e8e8;
  span {
    display: inline-block;
    padding-bottom: 8px;
    margin-right: 12px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    cursor: pointer;
    &.active {
      color: #1890ff;
      border-bottom: 2px solid #1890ff;
    }
    &:hover {
      color: #1890ff;
    }
  }
}

.news-list-content {
  padding: 12px 0;
  height: 304px;
}

.link-list {
  a {
    display: block;
    border-radius: 2px;
    height: 73px;
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    &.link1 {
      background-color: #a992e2;
      color: #fff;
      &:hover {
        background-color: #967adc
      }
    }
    &.link2 {
      background-color: #55badf;
      color: #e7f5fa;
      &:hover {
        background-color: #3bafda
      }
    }
    &.link3 {
      background-color: #ec6f5a;
      color: #fef7f6;
      &:hover {
        background-color: #e9573f;
      }
    }
    &.link4 {
      background-color: #f7c65f;
      color: #fff;
      &:hover {
        background-color: #f6bb42;
      }
    }
    h2 {
      font-size: 20px;
      padding-top: 8px;
      font-weight: 600;
    }
    h5 {
      font-size: 13px;
      padding-top: 5px;
    }
    i {
      font-size: 82px;
      display: block;
      position: absolute;
      right:0;
      bottom: 0;
      width: 100px;
      height: 100px;
      line-height: 134px;
    }
  }
}