<div class="layout-page-banner index-banner">
  <div class="layout-page-banner-text">
    <h1>优质服务，追求卓越</h1>
    <p>Quality service, The pursuit of excellence</p>
  </div>
</div>

<div class="section section-service">
  <div class="container">
    <div class="section-header mb32">
      <h2 class="section-title text-center">在线服务</h2>
      <p class="section-title-sub text-center">SERVICE</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service-grid">
          <div class="service-grid-header">
            <i class="iconfont icon-search"></i>
            <p>信息查询</p>
          </div>
          <div class="service-grid-body">
            <ul class="service-list">
              <li><a href="###">干线船期查询</a></li>
              <li class="split">|</li>
              <li><a href="###">干线船期查询</a></li>
              <li class="split">|</li>
              <li><a href="###">干线船期查询</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service-grid">
          <div class="service-grid-header">
            <i class="iconfont icon-dingwei"></i>
            <p>物流跟踪</p>
          </div>
          <div class="service-grid-body">
            <ul class="service-list">
              <li><a href="###">进口物流通关跟踪</a></li>
              <li class="split">|</li>
              <li><a href="###">出口物流通关跟踪</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-news">
  <div class="container">
    <div class="section-header mb32">
      <h2 class="section-title text-center">新闻中心</h2>
      <p class="section-title-sub text-center">NEWS</p>
    </div>
    <div class="row">
      <div class="col-md-6">1</div>
      <div class="col-md-6">2</div>
    </div>
  </div>
</div>